{{>nav}}
<div>
    <h1>{{msg}}</h1>
    {{#each itens}}
    <div>
        <h3>{{product.name}}</h3>
        <img src="/img/Produtos/{{product.img}}" alt="">
        <p>Descrição: {{product.description}}</p>
        <input id="valueUnit" class="valueUnit" value="{{product.value}}" disabled="" style="display: none;">
        <p>Valor uniátio: R$ {{product.value}}</p>
        <p>Quantidade: <input type="number" class="quantidade" value="{{quantidade}}"></p>
        <p>SubTotal: R$<i id="subTotal" class="subTotal">{{subTotal}}</i></p>
    </div>
    {{/each}}
</div>
{{#if hasIten}}
<div>
    <form action="ComprarProduto" method="post">
        <h1>Total: R$<i id="totalCompra" name="totalCompra"></i></h1>
        <input type="text" style="display: none;" id="totaly" name="totaly">
        <button type="submit">Comprar</button>
    </form>
    {{!-- Total: <span value="total()"></span> --}}
</div>
{{/if}}
<script type="text/javaScript" src="/js/totalyCar.js"></script>
<script type="text/javaScript" src="/js/reload.js"></script>
{{!--
<script src="../utils/CarBuy.ts"></script> --}}
{{!-- {{>footer}} --}}