{{>nav}}
<main class="homeSection">
    {{#each post}}
    <div class="cardProduct">
        <table style="width: 100%;">
            <tr>
                <th colspan="4">
                    <h1 class="titleProduct">{{nameProduct}}</h1>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td style="width: 20%;">
                    <img src="/img/Produtos/{{img}}" alt="">
                </td>
                <td class="descriptionProduct" style="width: 55%;">
                    <p>{{description}}</p>
                </td>
                <td style="width: 15%;" class="saldocar">
                    <span>R$ {{value}},00</span>
                </td>
                <td style="width: 10%;" class="buttoncar">
                    <button>
                        <a href="/addCar/{{id}}">
                            <iconify-icon icon="material-symbols:add-shopping-cart-rounded" width="24" height="24"
                                style="color: white"></iconify-icon></a>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    {{/each}}
</main>
{{!-- {{>footer}} --}}