<form action="createUserForm" method="post">
    <label for="firstName">Nome:</label><br>
    <input value="{{result.firstName}}" type="text" name="firstName" id="firstName"><br>
    <label for="lastName">Sobrenome:</label><br>
    <input value="{{result.lastName}}" type="text" name="lastName" id="lastName"><br>
    <label for="email">Email:</label><br>
    <input value="{{result.mail}}" type="email" name="email" id="email"><br>
    <li style="color: red;">{{result.isEmailExist}}</li>
    <label for="password">Senha:</label><br>
    <input value="{{result.password}}" type="password" name="password" id="password"><br>
    <li style="color: red;">{{result.number}}</li>
    <li style="color: red;">{{result.UpperCase}}</li>
    <li style="color: red;">{{result.LowerCase}}</li>
    <li style="color: red;">{{result.EightChar}}</li>
    <label for="confirmPassword">Repita a senha:</label><br>
    <input value="{{result.confirmPassword}}" type="password" name="confirmPassword" id="confirmPassword"><br>
    <li style="color: red;">{{result.verify}}</li>
    <label for="cpf">CPF:</label><br>
    <input value="{{result.cpf}}" type="text" name="cpf" id="cpf"><br>
    <p style="display: block;" id="templateSenha"></p>
    <label for="nascimento">Data de nascimento:</label><br>
    <input value="{{result.nascimento}}" type="date" name="nascimento" id="nascimento"><br>
    <input type="text" name="numberCard" id="numberCard"><br>
    <input type="number" name="cvv" id="cvv"><br>
    <input type="text" name="dateValed" id="dateValed"><br>
    <br>
    <a href="/"><button type="button">Voltar</button></a><button type="submit">Enviar</button>
</form>
<div>
    <h1>{{msg}}</h1>
    <a href="/user">user</a>
</div>