<div>
    {{#each itens}}
        <div>
            <p>{{itens.item.name}}</p>
            {{!-- <img src="/img/{{itens.item.img}}" alt=""> --}}
            <p>{{itens.item.description}}</p>
            <p>{{itens.quantidade}}</p>
            <p>{{itens.subTotal}}</p>
        </div>
    {{/each}}
</div>
<div>
    {{!-- Total: <span value="total()"></span> --}}
</div>

{{!-- <script src="../utils/CarBuy.ts"></script> --}}